<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{prod_doc}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body>
<h1>{{prod_doc}}</h1>
<p><strong>Data pierwszej sprzedaży: </strong> {{prod_doc.first_sale_date}}</p>
<p><strong>Nazwa zam: </strong> {{prod_doc.order_name}}</p>
<p><strong>Wartość sprzedaży: </strong> {{prod_doc.sale_value_display}}</p>
<p><strong>Wartość rw: </strong> {{prod_doc.rw.value}} zł</p>
<p><strong>Odoo: </strong> <a href="{{ prod_doc.odoo_link }}"> link </a></p>
<h2>Pozycje:</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Produkt</th>
        <th scope="col">Ilość</th>
        <th scope="col">Ilość prod</th>
        <th scope="col">Saldo</th>
        <th scope="col">Data pierwszej sprzedazy</th>
        <th scope="col">Wartość</th>
        <th scope="col">Waluta</th>
        <th scope="col">Część sprzedaży</th>
        <th scope="col">Wartość surowca</th>
        <th scope="col">Nie produkuj</th>
    </tr>
    </thead>
    <tbody>
    {% for position in prod_doc.productionposition_set.all %}
    <tr>
        <td><a href="{% url 'prod_pos_details' position.id %}">{{position.product}}</a> </td>
        <td>{{position.quantity}}</td>
        <td>{{position.balance}}</td>
        <td>{{position.final_quantity}}</td>
        <td>{{position.first_sale_date}}</td>
        <td>{{position.sales_value}}</td>
        <td>{{position.currency}}</td>
        <td>{{position.sales_fraction_display}}</td>
        <td>{% if not position.do_not_produce %} {{position.raw_materials_value}}{% endif %}</td>
        <td>{{position.do_not_produce}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>